html,body{
  padding:0;
  margin:0;
  width: 100%;
  font-family: 'sd';

}
#main{
  width: 80%;
  margin:0 auto;
  margin-top: 8%;
}
header{
  height: 6%;
  position: fixed;
  z-index: 9997;
  top:0;
  width: 100%;
  background-color: white;
  border-bottom:0.5px solid black;
  padding:0;
  padding-top:1.2%;

}


.Logo,.SearchBar,.joke,.concern,.alarm,.login,.store,.setting{
  float: left;
  position: absolute;
}
.container{
  margin-left: 5%;
  margin-right: 5%;
  padding:0;


}
.shield{
  max-width: 50%;
  margin:0 auto;

}
.box{


  text-align: center;
  border-radius: 8px;

}
.asidegroup{
  background-color: orange;
  position: fixed;
  top:0;
  right:0;
  height: 100%;

}
.aside{
  width: 40px;
  top:40%;
  height: 5%;
  background-color: red;
  position: absolute;
  left: -40px;
}
.logo{
  left: 5%;
}
.SearchBar{

  left: 15%;
  width: 46%;
}
.SearchBar input{
  width: 100%;
  border-radius: 5px;
  border:none;
  border:1px solid #626262;
  height:24px;
}
.joke{
  left:63%;
}
.concern{
  left: 66%;
}
.login{
  left:69%;
}
.alarm{
  left:76%;
}
.store{
  left:80%;
}
.setting{
  left:84%;
}
@media screen and (max-width:1440px){

}
@media screen and (max-width:1024px){

}
@media screen and (max-width:768px){

}
