.Mate_Introduce{

  width: 20%;
  position: absolute;
  right: 10%;
  top:20%;
}

/* Indivisual Design*/
.Mate_Introduce_Style{
  display: none;
  background-color: #F3F3F3;
  position: absolute;
  right: 10%;
  top:20%;
  width: 100px;
  height:100px;
}


.Mate_Introduce > textarea{
  width: 100%;
  border:solid 0.1px  black;
  padding:1%;
  resize: none;


  /* box-shadow: 0 0 5px #000; */

}
.Mate_Introduce > hr{
  width: 20%;
  margin:0 auto;
}
.Mate_Introduce > p{
  font-size: 2em;
}

.Mate_Introduce *{
  margin-top: 5%;
}

.Mate_Info{
  position: absolute;

  left: 10%;
  top:20%;
  width: 20%;
}
.Mate_Info > input{
  width: 100%;
  /* height == .Mate_Introduce > p height */
}
.Mate_Info > hr{
  width: 25%;
  margin:0 auto;
  margin-top: 5%;
}
.Mate_IHLBox >span{
  font-size: 1.3em;
}
.Mate_IHRBox >span{
  font-size: 1.3em;
}
.Mate_Info_Hashtagbox{
  width: 100%;

  text-align: left;
}
.Mate_Info_Star *{
  width: 20%;
  float: left;
}
.Mate_Info_Score{
  font-size: 2em;
  color:#4fcbff;
}
.Mate_Info > *{
  margin-top: 5%;
}
.picedit{
  border:none;
  background: white;
  color:#4fcbff;
  font-size: 1.4em;
  font-family: 'sd';
  margin-top: 1%;

}
