body{

  overflow-y: hidden;
  border:none;
  background-color: rgba(0,0,0,0);


}

.click_list{
  background-color: white;
  width: 100%;

  position: absolute;
  top:0;

  border-radius: 16px;

}
.vi{
  position: absolute;
  top:10%;
  height: 80%;
  border-right: solid 1px black;
  left: 49.9%;

}
.click_list_content{
  margin:10%;
  margin:7%;
}

.content_left{

  text-align:center;
  overflow-y: scroll;
}
.content_shield{
  padding:10%;
  padding-left: 0;
  padding-top:0;
}
.content_right{

  overflow-y: scroll;

}
.content_text{
  word-wrap: break-word;
  word-break: break-all;
  width: 80%;
  margin:0 auto;
  height: 80%;
  margin-top: 0;
  margin-bottom: 5%;
  line-height: 1.6;
  font-size: 1.8em;
}
.content_thanks{
  position: absolute;
  right: 50%;
  top:79%;
}
.content_thanks img{
  width: 20%;
  margin-top: 10%;
  margin-left: 27%;
}
.content_thanks_count{
  position: absolute;
  font-size: 1.7em;
  margin-left: 5%;
  top:27%;
}
.reply_box,.reply_box1{
  margin:5%;

}
.reply_wrapper{
  background-color: #f2f2f2;
  min-height: 50px;
  padding:8px;
  border-radius: 7px;
  margin:5px;

}
.reply_left{
  float:left;
  font-size: 1.2em; 
  width: 80%;
}
.report{
  float: left;
  width: 20%;
}
.report img{
  margin-left: 80%;
  width: 20%;
  margin-bottom:100%;

}
.report a{
  margin:0;
  padding:0;

  color:black;
  float: right;
}
.report a:hover{
  color:#4fcbff;
}

.bottom_side{

}
.bottom_side *{
  float: left;
}
.reply_thanks{
  margin-left: 3%;
  width: 5%;
}
.reply_thanks img{
  width: 100%;
}
.reply_thx_count{
  margin-left: 1%;
}
.last_date{
  margin-left: 80%;

}
.reply_reply_box{
  width: 80%;
  margin-left: 20%;
}
.identified_writer{
  float: left;
  width: 1%;
  padding-top:13px;
}
.inputtext{
  width: 90%;
  margin:0 auto;


}
#reply_input{
  position: absolute;
  left:50%;

  border-radius: 5px;



}
