section{
  padding-top:5%;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  margin:0 auto;

}
.store_content{
  border:1px solid black;
  padding:3%;
  border-radius: 16px;
  text-align: center;
}
.textside{
  text-align: left;
}
.store_content hr{
  width: 30%;
  margin-left: 0;
}
.store_content img{
  border:solid black 1px;
  border-radius: 15px;
  width: 80%;
  margin:5%;
}
.slideshow{

  margin:0 auto;
  margin-top : 8%;
  width: 70%;
  height: 100%;

}
